{% extends 'users/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block body %}
<div class="container">
	<div class="container">
		{% for page_items in object_list %}
		<div class="row container shadow-lg w-50 mx-auto mt-2 p-2 rounded">
			<div class="col-md-2">
				<img class="img-thumbnail rounded-circle" src="{{page_items.user.profile.image.url}}" width="100" height="100">	
			</div>
			<div class="col-md-10">
				<!-- Post Item Name -->
				<div class="row">
					<div class="col-md-6">
						<!-- Users FirstName and LastName -->
						<div class="row mt-2">
							<small>{{page_items.user.first_name}} {{page_items.user.last_name}}</small>
						</div>
						<!-- Post Content Date -->
						<div class="row">
							<small>{{page_items.date}}</small>
						</div>
					</div>
					<!-- Edit Post -->
					<div class="col-xs-2 ml-auto">
						<a href="{% url 'feed:edit' page_items.id %}"><img src="{% static 'components/edit.jpg' %}" width="15" height="15"></a>
					</div>
				</div>
				<!-- Post Content -->
				<div class="row mt-2 mb-2">
					{{page_items.post}}
				</div>
				<!-- Post Images -->
				<div class="row">
					<img src="{{page_items.image.url}}">
				</div>
				<!-- Like -->
				<div class="row">
					<form method="post" action="{% url 'feed:feed_list' %}">
						{% csrf_token %}
							<input type="hidden" name="likes" value=1>
							<input type="hidden" name='post_id' value={{page_items.id}}>
								<input class="btn btn-link" type="submit" name="Likes" value="Likes">
							<small>{{page_items.likes_set.count}}</small>
					</form>
					
				</div>
				<!-- Comment -->
				<div class="row">
					<form method="post" action="{% url 'feed:feed_list' %}">
						{% csrf_token %}
						<div class="input-group">
							{{comment}}
							<div class="input-group-append">
								<input type="hidden" name="post_id" value="{{page_items.id}}">
								<input class="btn btn-sm btn-success" type="submit" name="submit" 
							value="comment">
							</div>
						</div>
					</form>
					<!-- <small><a href="">Comments</a></small> -->
				</div>
				<!-- Comments List -->
				<div class="pl-0">
					{% for comment in page_items.comments_set.all %}
						{% if comment.user == request.user %}
							<h6 class="small"><a href="{% url 'profile' %}">{{comment.user.first_name}} {{comment.user.last_name}} </a>
							{{comment}}</h6>
							<hr class="p-0 m-0 b-light">
						{% else %}
							<h6 class="small"><a href="{% url 'rprofile' comment.user.id %}">
							{{comment.user.first_name}} {{comment.user.last_name}} </a>
							{{comment}}</h6>
							<hr class="p-0 m-0 b-light">
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>	
		{% endfor %}
		<!-- Pagination -->
		<div class="row mx-auto w-25 mt-2 p-2">
			<div class="col-xs-2">
				{% if page_obj.has_previous %}		
					<a class="btn btn-outline-info" href="?page=1">First</a>
					<a class="btn btn-outline-info" href="?page={{page_obj.previous_page_number}}">Prev</a>
				{% endif %}
			</div>
			<div class="col-xs-2 pl-1 pr-1">
				{% for num in page_obj.paginator.page_range %}
					{% if num == page_obj.number %}
						{% if page_obj.paginator.num_pages > 1 %}
							<a class="btn btn-info" href="?page={{num}}">{{num}}</a>
						{% endif %}
					{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
						<a class="btn btn-outline-info" href="?page={{num}}">{{num}}</a>
					{% endif %}
				{% endfor %}
			</div>
			<div class="col-xs-2">
				{% if page_obj.has_next %}
					<a class="btn btn-outline-info" href="?page={{page_obj.next_page_number}}">Next</a>
					<a class="btn btn-outline-info" href="?page={{page_obj.paginator.num_pages}}">Last</a>
				{% endif %}
			</div>
		</div>
	</div>
	
		
	
</div>
{% endblock %}
