{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% block body %}
<div class="row w-50 mx-auto">
	<div class="col-md-6 shadow-lg p-3 mt-2 w-25 mx-auto">
		<div class="row container">
			<div class="col-md-5 pl-0">
				<img class="img-thumbnail border rounded-circle" src="{{user.profile.image.url}}" >
			</div>
			<div class="col-md-7 mb-auto mt-auto">
				<div class="row">
					<h6>{{user.first_name}} {{user.last_name}} | Profile</h6>
				</div>
				<div class="row">
					<small>{{user.email}}</small>
				</div>
				
			</div>
		</div>
		<form method="post" enctype="multipart/form-data"> 
			{% csrf_token %}
			{{p_form|crispy}}
			{{u_form|crispy}}
			<div class="w-25 mx-auto">
				<input class="btn btn-success" type="submit" name="update" value="Update">
			</div>
		</form>
	</div>
	<div class="col-md-4 mx-auto w-25 ">
		<div class="row shadow-lg bg-light p-3 mt-2">
			<h4 class="">Friend Requests ({{freq.count}})
				<hr>
			</h4>
			{% for obj in freq %}
			<div class="col-xs-3">
				<a class="btn btn-success" href="">Accept</a>
			</div>
			<div class="col-xs-3">
				<a href="{% url 'rprofile' obj.ruser_id %}">{{obj.ruser.first_name}} {{obj.ruser.last_name}}</a>	
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock body %}