{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% block body %}
<div class="container shadow-lg p-3 mt-2 w-25">
	<div class="row container">
		<div class="col-md-5 pl-0">
			<img class="img-thumbnail border rounded-circle" src="{{auser.profile.image.url}}" >
		</div>
		<div class="col-md-7 mb-auto mt-auto">
			<div class="row">
				<h6>{{auser.first_name}} {{auser.last_name}} | Profile</h6>
			</div>
			<div class="row">
				<small>{{auser.email}}</small>
			</div>			
		</div>
	</div>
	<form> 
		{% csrf_token %}
		<fieldset disabled="disabled">
		{{form|crispy}}
		</fieldset>
	</form>
	<div class="w-25 mx-auto">
		<input type="hidden" name="f_req" value="yes">
		{% if fracp.frnds == 'yes' or frreq.frnds == 'yes' %}
			<span class="btn btn-success">Friends</span>
		{% elif fracp.f_req == 'yes' %}
			<span class="btn btn-success">Friend Request Sent</span>
		{% elif frreq.f_req == 'yes' %}
			<form method="post" action="{% url 'freq' auser.id %}">
				{% csrf_token %}
				<input type="hidden" name="frnds" value="yes">
				<input class="btn btn-success" type="submit" name="submit" value="Accept">
			</form>
		{% else %}
			<form method="post" action="{% url 'freq' auser.id %}">	
				{% csrf_token %}
				<input type="hidden" name="f_req" value="yes">
				<input class="btn btn-info" type="submit" name="submit" value="Friend Request">	
			</form>		
		{% endif %}
	</div>
</div>
{% endblock body %}