{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% block body %}
<div class="container shadow-lg p-3 mt-2 w-25">
	<div class="row container">
		<div class="col-md-5 pl-0">
			<img class="img-thumbnail border rounded-circle" src="{{auser.profile.image.url}}" >
		</div>
		<div class="col-md-7 mb-auto mt-auto">
			<div class="row">
				<h6>{{auser.first_name}} {{auser.last_name}} | Profile</h6>
			</div>
			<div class="row">
				<small>{{auser.email}}</small>
			</div>			
		</div>
	</div>
	<form> 
		{% csrf_token %}
		<fieldset disabled="disabled">
		{{form|crispy}}
		</fieldset>
	</form>
	<div>
	<form method="post" action="{% url 'freq' auser.id %}">	
			{% csrf_token %}
			{{fracp.id}}

			<input type="hidden" name="f_req" value="yes">
			{% if freq.f_req == 'yes' %}
				<span class="btn btn-success">Friend Request Sent</span>
			{% else %}
				<input type="submit" name="submit" value="Friend Request">		
			{% endif %}
	</form>	
	</div>
</div>
{% endblock body %}